<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>后台管理系统模板</title>
    <!-- CSS -->
    <link href="{$Think.config.css}bootstrap.min.css" rel="stylesheet">
    <link href="{$Think.config.css}bootstrap-table.min.css" rel="stylesheet">
    <script type="text/javascript" src="{$Think.config.js}jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="{$Think.config.js}bootstrap.min.js"></script>
    <script type="text/javascript" src="{$Think.config.js}bootstrap-table.min.js"></script>
    
</head>
<body>
<div class="container" id="content" style="margin:10px 0px 0px 10px;">
{__CONTENT__}
</div>
</body>

</html>